.control-label {
    margin-top: 5px;
    padding-right: 0;
}

.show-password {
    float: right;
    position: relative;
    top: -22px;
    left: 25px;
}

.input-group {
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px;

  input {display:none;}

  input:checked + .slider {
    background-color: #007fff;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #007fff;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 34px;
    }

    &.round:before {
      border-radius: 50%;
    }
  }
}




