<ng-container [formGroup]="fg" *ngIf="control.visibleIf()">
    <div *ngIf="control.dividerTopCssClass" class="{{ control.dividerTopCssClass }} divider divider-top">
        <hr>
    </div>

    <div class="form-group {{ control?.formGroupCssClass }}">
        <ng-container *ngIf="hasRenderer()">
            <ng-template [dynamicElementRenderer]="formRenderer" [control]="control" [fg]="fg"></ng-template>
        </ng-container>

        <ng-container *ngIf="!hasRenderer()">

            <label *ngIf="control.label" [attr.for]="control.id" class="control-label {{ control.labelCssClass }}">
                {{ control.label }}
            </label>

            <div class="{{ control.controlCssClass }}">
                <dynamic-element [fg]="fg" [control]="control"></dynamic-element>
            </div>

            <div class="errorMessage">
                <dynamic-form-validation [control]="control"></dynamic-form-validation>
            </div>

        </ng-container>
    </div>

    <div *ngIf="control.dividerBottomCssClass" class="{{ control.dividerBottomCssClass }} divider divider-bottom">
        <hr>
    </div>
</ng-container>